*
!.gitignore
!.obsidian
!.obsidian/**
!09 Templates
!09 Templates/**

# Obsidian workspace state (local per machine)
.obsidian/workspace.json

# Folder view configuration files
*/.DS_Store
*/Desktop.ini

# Thumbnail cache files
._*
*/Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
.obsidian/plugins/remember-cursor-position/cursor-positions.json
.obsidian/plugins/text-extractor/cache

# Obsidian mobile workspace state (local per machine)
.obsidian/workspace-mobile.json
